{% extends "base.html" %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h2 class="jumbotron-heading">Add task to database</h2>
        <form action="{{ url_for('add_task') }}/{{ user_id }}" method="post">
            {% if message %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endif %}
            <input type="text" style="display: block; width: 20em; margin: auto;" placeholder="Add title..." name="title" required>
            <textarea name="description" style="display: block; width: 20em; margin: auto;" placeholder="Add description" rows="4" cols="50" required></textarea>
             <button type="submit" style="display: block; margin: auto;" class="btn btn-primary">Add task</button>
        </form>
    </div>
  </section>
{% endblock %}